.UTCalendar_lightblue {
	font-family: tahoma, verdana;
	font-size: 11px;
	color: #000000;
	background-color: #ffffff;
	width: 248px;
	border-collapse:collapse;
	padding:0px;
    border: 1px solid #AADAE6;
    border-bottom: none;
}
.UTCalendar_lightblue td {
	text-align: right;
}


.UTCalendar_lightblue .previous {
	background-color: #47a3c0;
	background-image: url(lightblue/prev.gif);
	background-position: center center;
	background-repeat: no-repeat;	
}
.UTCalendar_lightblue .next {
	background-color: #47a3c0;
	background-image: url(lightblue/next.gif);	
	background-position: center center;
	background-repeat: no-repeat;	
}
.UTCalendar_lightblue .previous.hover {
	background-image: url(lightblue/prev-hover.gif);
}
.UTCalendar_lightblue .next.hover {
	background-image: url(lightblue/next-hover.gif);
}
.UTCalendar_lightblue .previous.click {
}
.UTCalendar_lightblue .next.click {	
}

.UTCalendar_lightblue .weekday {
	padding:6px 9px;
	height: 28px;
	background: url(lightblue/weeks-bg.gif) left top repeat-x;
	border-top: 1px solid #E1E5E8;
	border-bottom: 1px solid #E1E5E8;
	border-left: 1px solid #ffffff;
	background-color: #333333;
	color: #164356;
    cursor: default;
}

.UTCalendar_lightblue .title {
	height: 39px;
	background-color: #47a3c0;
	font-weight: bold;
	text-align: center;
	font-family: Myriad Pro, Arial;
	font-size: 15px;
	font-weight: normal;
	color: #ffffff;
}


.UTCalendar_lightblue .day div {
	padding:6px 9px;
	text-align: right;
}
.UTCalendar_lightblue .day.hover {
	background-color: #FFFF99;
}
.UTCalendar_lightblue .day.today div {
	border: 2px solid #FFCC00;
}
.UTCalendar_lightblue .day {
	color: #164356;
	width: 12%;
	border-left: 1px solid #AADAE6;
	border-bottom: 1px solid #AADAE6;
	font-family: Tahoma;
	font-size: 11px;
	color: #164356;
	font-weight: normal;
}
.UTCalendar_lightblue .inside {
	background-color: #F1F8FA;
}

.UTCalendar_lightblue .outside {
	color: #d5eaf1;
}

.UTCalendar_lightblue tbody tr td:first-child {
	border-left: none;
}
.UTCalendar_lightblue thead tr td:first-child {
	border-left: none;
}