.UTCalendar_metal {
	font-family: calibri, tahoma, verdana;
	font-size: 25px;
	color: #50595F;
	text-shadow: 1px 1px 1px #ffffff;
	background-color: #cccccc;
	border-left: 1px solid #B1BBC2;
	border-bottom: 1px solid #B1BBC2;
	border-collapse:collapse;
	padding:0px;
}
.UTCalendar_metal td {
	text-align: center;
	width: 36px;
	height: 36px;
	background: url(metal/bg.png) left top repeat-x;
}

.UTCalendar_metal .weekdays {
	font-family: calibri, tahoma, verdana;
	font-weight: bold;
	font-size: 17px;
}
.UTCalendar_metal .weekdays tr  > :last-child {
	border-right: 1px solid #B1BBC2;
}

.UTCalendar_metal .previous {
	border-top: 1px solid #B1BBC2;
	border-right: 1px solid #B1BBC2;
	border-bottom: 1px solid #B1BBC2;
}
.UTCalendar_metal .previous div {
	background: url(metal/arrowLeft.png) center center no-repeat;	
	width: 36px;
	height: 36px;
}
.UTCalendar_metal .next {
	border-top: 1px solid #B1BBC2;
	border-right: 1px solid #B1BBC2;
	border-bottom: 1px solid #B1BBC2;
}
.UTCalendar_metal .next div {
	background: url(metal/arrowRight.png) center center no-repeat;	
	width: 36px;
	height: 36px;
}
.UTCalendar_metal .previous.hover {}
.UTCalendar_metal .next.hover {}
.UTCalendar_metal .previous.down {
	border-top: 1px solid #B1BBC2;
	border-right: 1px solid #B1BBC2;
	border-bottom: 1px solid #B1BBC2;
	background: url(metal/bgCurrent.png) left top repeat-x;
}
.UTCalendar_metal .previous.down div {
	background: url(metal/arrowLeft.png) center center no-repeat;	
	width: 36px;
	height: 36px;
}
.UTCalendar_metal .next.down {
	border-top: 1px solid #B1BBC2;
	border-right: 1px solid #B1BBC2;
	border-bottom: 1px solid #B1BBC2;
	background: url(metal/bgCurrent.png) left top repeat-x;
}
.UTCalendar_metal .next.down div {
	background: url(metal/arrowRight.png) center center no-repeat;	
	width: 36px;
	height: 36px;
}

.UTCalendar_metal .weekday {

}

.UTCalendar_metal .title {
	border-top: 1px solid #B1BBC2;
	border-right: 1px solid #B1BBC2;
	border-bottom: 1px solid #B1BBC2;
	text-align: center;
}


.UTCalendar_metal .inside {
	border-top: 1px solid #B1BBC2;
	border-right: 1px solid #B1BBC2;
}
.UTCalendar_metal .inside.hover {}
.UTCalendar_metal .inside.down {
	border-top: 1px solid #B1BBC2;
	border-right: 1px solid #B1BBC2;
	background: url(metal/bgCurrent.png) left top repeat-x;
	color: #A08216;
}
.UTCalendar_metal .inside.today {
	border-top: 1px solid #B1BBC2;
	border-right: 1px solid #B1BBC2;
}
.UTCalendar_metal .inside.today {
	background: url(metal/bgToday.png) left top repeat-x;
	color: #52A400;
}
.UTCalendar_metal .inside.today div{
	border: 2px solid #66CC33;
}
.UTCalendar_metal .inside.today.hover {}
.UTCalendar_metal .inside.today.down {
	border-top: 1px solid #B1BBC2;
	border-right: 1px solid #B1BBC2;
	background: url(metal/bgCurrent.png) left top repeat-x;
	color: #A08216;
}
.UTCalendar_metal .inside.today.down div{
	border: 2px solid #66CC33;
}
.UTCalendar_metal .inside.current {
	border-top: 1px solid #B1BBC2;
	border-right: 1px solid #B1BBC2;
	background: url(metal/bgCurrent.png) left top repeat-x;
	color: #A08216;
}
.UTCalendar_metal .inside.current.hover {}
.UTCalendar_metal .inside.current.down {
	border-top: 1px solid #B1BBC2;
	border-right: 1px solid #B1BBC2;
	background: url(metal/bgCurrent.png) left top repeat-x;
	color: #A08216;
}
.UTCalendar_metal .inside.current.today {
	border-top: 1px solid #B1BBC2;
	border-right: 1px solid #B1BBC2;
	background: url(metal/bgCurrent.png) left top repeat-x;
	color: #52A400;
}
.UTCalendar_metal .inside.current.today div{
	border: 2px solid #66CC33;
}
.UTCalendar_metal .inside.current.today.hover {}
.UTCalendar_metal .inside.current.today.down {
	border-top: 1px solid #B1BBC2;
	border-right: 1px solid #B1BBC2;
	background: url(metal/bgCurrent.png) left top repeat-x;
	color: #A08216;
}
.UTCalendar_metal .inside.current.today.down div{
	border: 2px solid #66CC33;
}
.UTCalendar_metal .outside {
	border-top: 1px solid #B1BBC2;
	border-right: 1px solid #B1BBC2;
}
.UTCalendar_metal .outside div {
	opacity: 0.3;
}
.UTCalendar_metal .outside.hover {}
.UTCalendar_metal .outside.down {
	border-top: 1px solid #B1BBC2;
	border-right: 1px solid #B1BBC2;
	background: url(metal/bgCurrent.png) left top repeat-x;
	color: #A08216;
	opacity: 0.6;
}
.UTCalendar_metal .outside.today {
	border-top: 1px solid #B1BBC2;
	border-right: 1px solid #B1BBC2;
}
.UTCalendar_metal .outside.today div{
	background: url(metal/bgToday.png) left top repeat-x;
	color: #52A400;
	border: 2px solid #66CC33;
	opacity: 0.6;
}

.UTCalendar_metal .outside.today.hover {}
.UTCalendar_metal .outside.today.down {
	border-top: 1px solid #B1BBC2;
	border-right: 1px solid #B1BBC2;
	color: #52A400;
}
.UTCalendar_metal .outside.today.down div {
	background: url(metal/bgCurrent.png) left top repeat-x;
	border: 2px solid #66CC33;
	opacity: 0.6;
}
.UTCalendar_metal .outside.current {
	border-top: 1px solid #B1BBC2;
	border-right: 1px solid #B1BBC2;
}
.UTCalendar_metal .outside.current div{
	background: url(metal/bgCurrent.png) left top repeat-x;
	color: #A08216;
	height: 33px;
	opacity: 0.6;
	border-top: 1px solid #ffffff;
	vertical-align: bottom;
}
.UTCalendar_metal .outside.current.hover {}
.UTCalendar_metal .outside.current.down {
	border-top: 1px solid #B1BBC2;
	border-right: 1px solid #B1BBC2;
}
.UTCalendar_metal .outside.current.down div {
	background: url(metal/bgCurrent.png) left top repeat-x;
	color: #A08216;
	height: 33px;
	opacity: 0.6;
	border-top: 1px solid #ffffff;
	vertical-align: bottom;
}
.UTCalendar_metal .outside.current.today {
	border-top: 1px solid #B1BBC2;
	border-right: 1px solid #B1BBC2;
	color: #52A400;
}
.UTCalendar_metal .outside.current.today div {
	background: url(metal/bgCurrent.png) left top repeat-x;
	border: 2px solid #66CC33;
	opacity: 0.6;
}

.UTCalendar_metal .outside.current.today.hover {}
.UTCalendar_metal .outside.current.today.down {
	border-top: 1px solid #B1BBC2;
	border-right: 1px solid #B1BBC2;
	color: #52A400;
}
.UTCalendar_metal .outside.current.today.down div {
	background: url(metal/bgCurrent.png) left top repeat-x;
	border: 2px solid #66CC33;
	opacity: 0.6;
}




