.UITScrollbar_default {
	float: left;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;

}

.UITScrollbar_default .ArrowUp {
    display: none;
}
.UITScrollbar_default .ArrowDown {
    display: none;
}

.UITScrollbar_default .BarContainer {
	width: 10px;
}
.UITScrollbar_default .Slider {
    position: relative;
	width: 10px;
}
.UITScrollbar_default .Slider .Top {
    display: none;
}
.UITScrollbar_default .Slider .Bottom {
    display: none;
}
.UITScrollbar_default .Slider .Middle {
    /*display: none;*/
    width: 10px;
    background-color: #ccc;
}