.UITScrollbar_gray {
	/* position: fixed; */
	float: left;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;

}

.UITScrollbar_gray .ArrowUp {
	background: url(gray/ArrowUp.png) left top no-repeat;
	width: 36px;
	height: 36px;
}
.UITScrollbar_gray .ArrowDown {
	background: url(gray/ArrowDown.png) left top no-repeat;
	width: 36px;
	height: 36px;
}

.UITScrollbar_gray .BarContainer {
	background: url(gray/BarBg.png) left top repeat-y;
	width: 36px;
}
.UITScrollbar_gray .Slider {
	background: url(gray/SliderMiddle.png) left top repeat-y;
	width: 36px;
	position: relative;
}
.UITScrollbar_gray .Slider .Top {
	background: url(gray/SliderTop.png) left top no-repeat;
	width: 36px;
	height: 2px;
}
.UITScrollbar_gray .Slider .Bottom {
	background: url(gray/SliderBottom.png) left bottom no-repeat;
	width: 36px;
	height: 2px;
}
.UITScrollbar_gray .Slider .Middle {
	background: url(gray/SliderMiddle2.png) center center no-repeat;
	min-height: 25px;
}