.UITWindow_default {
	
}

.UITWindow_default .shadow {
	background-color: #000000;
	opacity: 0.5;
}

.UITWindow_default .WindowContainer {
	position: fixed;
	z-index: 101;
}

.UITWindow_default .WindowContainer  .WindowFrame {
	position: relative;
	top: -16px;
}

.UITWindow_default .WindowContainer .LeftTop {
	background-image: url(default/LeftTop.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	width: 40px;
	height: 49px;
}

.UITWindow_default .WindowContainer .RightTop {
	background-image: url(default/RightTop.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	width: 40px;
	height: 49px;
}

.UITWindow_default .WindowContainer .LeftBottom {
	background-image: url(default/LeftBottom.png);
	background-repeat: no-repeat;
	background-position: left top;
	width: 40px;
	height: 30px;
}

.UITWindow_default .WindowContainer .RightBottom {
	background-image: url(default/RightBottom.png);
	background-repeat: no-repeat;
	background-position: right top;
	width: 40px;
	height: 30px;
}

.UITWindow_default .WindowContainer .Top {
	background-image: url(default/Top.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	height: 49px;
}

.UITWindow_default .WindowContainer .Bottom {
	background-image: url(default/Bottom.png);
	background-repeat: repeat-x;
	background-position: left top;
}

.UITWindow_default .WindowContainer .Left {
	background-image: url(default/Left.png);
	background-repeat: repeat-y;
	background-position: left bottom;
}

.UITWindow_default .WindowContainer .Right {
	background-image: url(default/Right.png);
	background-repeat: repeat-y;
	background-position: right bottom;
}

.UITWindow_default .WindowContainer .Content {
	background-image: url(default/Content.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	background-color: #FEFEFE;
	font-family: Calibri, Tahoma;
}

.UITWindow_default .WindowContainer .Content .ContentContainer {
	/*
	Minimal width and height of content area
	*/
	width: 600px;
	height: 400px;
	margin-top: 60px;
}

.UITWindow_default .WindowContainer .Top .Title {
	float: left;
	width: 100%;
	text-align: center;
	position: relative;
	top: 70px;
	font-family: Calibri, Tahoma;
	font-size: 31px;
	font-weight: bold;
	color: #50595F;
}
.UITWindow_default .WindowContainer .Top .Buttons {
	float: right;
}

.UITWindow_default .WindowContainer .Top .Buttons .ButtonClose {
	background-image: url(default/BtnClose.png);
	background-repeat: no-repeat;
	background-position: left top;
	position: relative;
	top: 5px;
	left: 34px;
	width: 67px;
	height: 43px;
}

.UITWindow_default .Frame {
	width: 100%;
	height: 100%;
	border: none;
}