.UTTetris_default {
    display: block;
}
.UTTetris_default .figure {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.UTTetris_default .figure div  {
    display: block;
    background-color: black;
    position: absolute;
}

.UTTetris_default div {
    display: block;
    background-color: black;
    position: absolute;
}