.UITPreloader_default .Shadow {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #f1f1f1;
	text-align: center;
	vertical-align: middle;
}

.UITPreloader_default .Panel {
	position: relative;
	display: block;
	width: 840px;
	height: 535px;
	border: 1px solid #d7d7d7;
	background-color: #f1f1f1;
	text-align: center;
	font-family: HelveticaNeue Extended, Tahoma;
	font-size: 21px;
	color: #333333;
}

.UITPreloader_default .Inner {
	position: relative;
	display: block;
	width: 838px;
	height: 533px;
	border: 1px solid #ffffff;
	text-align: center;
}


.UITPreloader_default .Panel .Title {
	padding-top: 230px;
}

.UITPreloader_default .Panel .Percentage {
	text-align: center;
	font-family: HelveticaNeue Extended, Tahoma;
	font-size: 21px;
	color: #00CCFF;
}

.UITPreloader_default .Panel .Progress {
	width: 342px;
	height: 16px;
	margin: 15px 0px 15px 244px;
	padding: 0px;
	border: 3px solid #d7d7d7;
	background-image: url(img/progressBg.png);
	background-position: left top;
	background-repeat: no-repeat;
}

.UITPreloader_default .Panel .ProgressBar {
	width: 0px;
	height: 16px;
	margin: 0px;
	padding: 0px;
	background-image: url(img/progressBarBg.png);
	background-position: left top;
	background-repeat: no-repeat;
}